<div class="container">

  <div class="panel panel-default">
    <div class="panel-body">
      <div class="row">

        <div class="col-xs-6">
          <img ng-src="{{photo.images[0].url}}" class="img-responsive">
        </div>

        <div class="col-xs-6">
          <div class="caption">
            <h5><a href="/users/{{photo.author}}">{{photo.author}}</a></h5>
            <h6 class="text-muted"><i class="ion-clock"></i> {{photo.modified | date: 'short'}}</h6>

            <p>{{photo.title}}</p>

          </div>
        </div>

      </div>

      <div class="row">

        <div class="col-xs-12">
          <h5><i class="ion-heart text-danger"></i> {{photo.likes.count || 124}} likes</h5>

          <div class="btn-group">
            <button class="btn" ng-class="{ 'btn-danger': hasLiked, 'btn-default': !hasLiked }" ng-click="like()">
              <i class="ion-heart" ng-class="{ 'text-danger': !hasLiked}"></i>
              <span ng-if="hasLiked">Liked</span>
              <span ng-if="!hasLiked">Like</span>
            </button>
          </div>
          
          <hr class="soften">
          
          <h5 ><i class="ion-chatbox-working text-primary"></i> Comments</h5>

          <ul class="media-list">
            <li ng-repeat="comment in photo.comments.data" class="media">
              <a class="pull-left" href="http://instagram.com/{{comment.from.username}}">
                <img class="media-object img-rounded" ng-src="{{comment.from.profile_picture}}">
              </a>
              <div class="media-body">
                <a class="media-heading" href="http://instagram.com/{{comment.from.username}}">@{{comment.from.username || 'styleizer'}}</a>
                {{photo.description}}
              </div>
            </li>
            <li class="media">
              <div class="media-body">
                <a class="media-heading" href="http://instagram.com/{{comment.from.username}}">@king_of_nyc</a>
                This looks amazing! I really like it.
              </div>
            </li>
            <li class="media">
              <div class="media-body">
                <a class="media-heading" href="http://instagram.com/{{comment.from.username}}">@fashionista</a>
                necklace really pulls it together.
              </div
            
          </ul>

          <hr class="soften">


        </div>
      </div>

    </div>
  </div>

</div>