 
<div class="container">
  
  <div ng-if="isAuthenticated()">
    <div class="card">
      <div deckgrid class="deckgrid" source="photos">
          <div class="a-card">
                      <a href="#/feed/{{card._id}}"><img ng-src="{{card.images[0].url}}" class="thumbnail img-responsive"/></a>
                      <h5><a href="#">{{card.author}}</a></h5> 
                      <p>{{card.description}}</p> 
                      <h6 class="text-muted"><i class="ion-clock"></i> {{card.modified | date: 'short'}}</h6>
          </div>
      </div>
    </div>
  </div>

  <div ng-if="!isAuthenticated()">
    <div class="jumbotron">
      <h2><i class="ion-tshirt"></i> StyleMe</h2>
      <h3><p><strong>StyleMe</strong> is a site and mobile app that let's you crowdsource fashion advice.</p></h3>
      <h5><ol><li>Take a picture</li><li>Load it to the feed</li><li>get instant feedback</li></ol>
      <p></h5>
        <a class="btn btn-lg btn-success" href="#/login"><i class="ion-log-in"></i> Log in</a>
        <a class="btn btn-lg btn-primary" href="#/signup"><i class="ion-person-add"></i> Create account</a>
      </p>
    </div>
  </div>

</div>